.carousel {
  width: 60%;
  float: right;
}
.app {
  /* background-image: url('images/image1.jpg'); */
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-card {
  width: 312px;
  background: linear-gradient(to right, #e10000 0%, #2b0101 100%);
}

.login-card-container {
  display: flex;
  padding-left: 48px;
  padding-top: 32px;
}

@media only screen and (max-width: 480px) {
  .app {
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -26px;
  }
  .login-card-container {
    display: flex;
    padding-left: 0px;
    justify-content: center;
  }
  .login-card {
    width: 300px;
    background: linear-gradient(to right, #fccf31 0%, #f55555 100%);
  }
}
